*
{
	margin: 0;
	padding: 0;
}
body
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(rrr.jpg);
	background-position: center;
	background-size: cover;
}
.logo
{
	width: 40px;
	margin-top: 40px;
}
.header
{
	height: 10%;
}
.header-btn
{
	text-decoration: none;
	border-radius: 30px;
	padding: 7px 20px;
	float: right;
	margin-top: 15px;
	color: #fff;
	background: #107afd;
	font-weight: 600;
}
.movie-details
{
	margin: 3% 0;	
}
.left-box
{
	color: white;
	margin: 15px 0;
	padding: 20px;

}
.casting img
{
	height: 40px;
	width: 40px;
	margin-right: 10px;
	cursor: pointer;
}
.left-box a
{
	text-decoration: none;
	border-radius: 30px;
	padding: 7px 10px;
	margin-top: 15px;
	color: #fff;
	background: #107afd;
	font-weight: 600;
	display: inline-block;
	margin-right: 10px;

}
.download-btn
{
	border:1px solid white !important;
	background: transparent !important;
}
.movie-img
{
	height: 250px;
	box-shadow: -4px 4px 5px 0 #000;
}
.series h3
{
	color: white;
}
.series img
{
	width: 100%
}

